<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">

</head>
<body>
    <header>
        <a href="#" class="brand">My Wardrobe</a>
        <div class="menu-btn"></div>
        <div class="navigation">
            <div class="navigation-items">
                <a href="#home">Home</a>
                <a href="#features">Features</a>
                <a href="#steps">Steps</a>
                <a href="#contact">Contact</a>
            </div>
        </div>

    </header>
    <section class="home" id="home">
        <video class="video-slide active" src="assets\videos\v3.mp4" autoplay muted loop ></video>
        <video class="video-slide" src="assets\videos\v1.mp4" autoplay muted loop ></video>
        <video class="video-slide" src="assets\videos\v4.mp4" autoplay muted loop ></video>
        <div class="content">
            <h1>Your Style,<br>Your Comfort,<br>Your Day.</h1>
            <p>Discover a seamless blend of fashion and functionality. Whether you're preparing for a busy day at work or a relaxing outing, our curated styles are designed to elevate your look while keeping you comfortable. Start customizing your wardrobe today!</p>
            <a href="#">Start Customizing</a>
        </div>
        <div class="content active">
            <h1>Save<br>Time.</h1>
            <p>with tailored outfit suggestions that match trends, weather, or special occasions, without the need to rummage through your physical wardrobe.</p>
            <a href="#">Start Customizing</a>
        </div>
        <div class="content">
            <h1>Let Technology<br>Enhance Your Style.</h1>
            <p>combine convenience, creativity, and conscious consumption for a smarter approach to fashion.</p>
            <a href="#">Start Customizing</a>
        </div>
       
        <div class="media-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
        <div class="slider-navigation">
            <div class="nav-btn active"></div>
            <div class="nav-btn"></div>
            <div class="nav-btn"></div>
        </div>
 
    </section>

    <section class="Features" id="features">
      <div class="title1"><h1>Features</h1><br></div>  
        <div class="slide-container">
            <div class="swiper cardSwiper">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="card bg">
                            <div class="card-img ">
                                <img src="assets\img\virtuel_wardrobe-removebg-preview.png" alt="virtuel_wardrobe" class="virtuel_wardrobe_img">
                                <span class="feature_number">1</span>
                            </div>
                            <div class="card-content">
                                <div class="info">
                                      <h2>Virtuel<br> Wardrobe</h2>
                                </div>
                                <div class="read-more-btn">
                                    <a><span>organize your favorite pieces in your personalized virtual closet.</span></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="swiper-slide">
                        <div class="card bg">
                            <div class="card-img ">
                                <img src="assets\img\style-quiz-removebg-preview.png" alt="Style_Quiz" class="Style_Quiz_img">
                                <span class="feature_number">2</span>
                            </div>
                            <div class="card-content">
                                <div class="info">
                                      <h2>Style<br>Quiz</h2>
                                </div>
                                <div class="read-more-btn">
                                    <a><span>discover your unique style with our quick and fun quiz.</span></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="swiper-slide">
                        <div class="card bg">
                            <div class="card-img ">
                                <img src="assets\img\weather-recommendations-removebg-preview.png" alt="Weather_Rec" class="Weather_Rec_img">
                                <span class="feature_number">3</span>
                            </div>
                            <div class="card-content">
                                <div class="info">
                                      <h2>Weather<br>Recommendations</h2>
                                </div>
                                <div class="read-more-btn">
                                    <a><span>plan your look based on real-time weather updates.</span></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="swiper-slide">
                        <div class="card bg">
                            <div class="card-img ">
                                <img src="assets\img\zero-impact-shopping-removebg-preview.png" alt="secondhand_shopping" class="secondhand_shopping_img">
                                <span class="feature_number">4</span>
                            </div>
                            <div class="card-content">
                                <div class="info">
                                      <h2>Secondhand<br>Shopping</h2>
                                </div>
                                <div class="read-more-btn">
                                    <a><span>fashion meets sustainability with our guilt-free shopping experience.</span></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="swiper-slide">
                        <div class="card bg">
                            <div class="card-img ">
                                <img src="assets\img\usage_tacking-removebg-preview (2).png" alt="usage_tracking" class="usage_tracking_img">
                                <span class="feature_number">5</span>
                            </div>
                            <div class="card-content">
                                <div class="info">
                                      <h2>Usage<br>Tracking</h2>
                                </div>
                                <div class="read-more-btn">
                                    <a><span>optimize your closet with insights  from clothing usage data.</span></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
              </div>

              <div class="slider-nav">
                <div class="swiper-button-next">Next</div>
                <div class="swiper-button-prev">Prev</div>
              </div>
        </div>
    </section>


    <section class="steps" id="steps">
        <div class="title2"><h1>It's easy <br>Here's how it works!</h1></div>
        <div class="main-container">
            <div class="card-container">
                <div class="card">
                    <div class="card-body">
                        <div class="card-images">
                            <img src="assets\img\bg.jpg" alt="" class="card-bg">
                            <img src="assets\img\step1.png" alt="" class="card-figure">
                        </div>
                        <div class="card-info">
                            <h2 class="card-name">Step 1</h2>
                            <p class="card-description">
                                simply take photos of your clothes, the site will instantly add them to your virtual wardrobe.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="card-images">
                            <img src="assets\img\bg.jpg" alt="" class="card-bg">
                            <img src="assets\img\step2-removebg-preview.png" alt="" class="card-figure">
                        </div>
                        <div class="card-info">
                            <h2 class="card-name">Step 2</h2>
                            <p class="card-description">take your style quiz to discover your fashion preferences.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="card-images">
                            <img src="assets\img\bg.jpg" alt="" class="card-bg">
                            <img src="assets\img\step3.png" alt="" class="card-figure">
                        </div>
                        <div class="card-info">
                            <h2 class="card-name">Step 3</h2>
                            <p class="card-description">easily create outfits from your collection.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="signup">
      
            <div class="image">
                <video src="assets\videos\v5.mp4" autoplay muted loop></video>
            </div>
            <div class="text">
                <p>Your journey to a mindful and organized wardrobe starts here. Let's make every piece count.</p>
                <a href="register" class="btn">SignUp Now!</a>

            </div>

    </section>


    <footer class="footer" id="contact">
        <div class="content">
            <div class="row">
                <div class="col col1">
                    <span class="heading">Social Media</span>
                    <div class="social-icons">
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
                <div class="col col2">
                    <span class="heading">Quick Links</span>
                    <ul>
                        <li><a href="#home">Home</a></li>
                        <li><a href="#features">Features</a></li>
                        <li><a href="#steps">Steps</a></li>
                    </ul>
                </div>
                <div class="col col3">
                    <span class="heading">Contact Information</span>
                    <ul>
                        <li>
                            <span class="icon"><i class="fa-solid fa-phone"></i></span>
                            <span class="text">Phone: 94 840 498</span>
                        </li>
                        <li>
                            <span class="icon"><i class="fa-solid fa-envelope"></i></span>
                            <span class="text">Email: soulayma.lahmer@eniso.u-sousse.tn</span>
                        </li>
                    </ul>
                </div>
                <div class="col col4">
                    <span class="heading">Feedback</span>
                    <p>We value your input! Let us know how we can improve your experience.</p>
                    <form action="">
                        <div class="input-group">
                            <input type="text" class="Feedback_email" placeholder="Contact Us">
                            <button type="submit" class="btn"><i class="fa-solid fa-paper-plane"></i></button>

                        </div>
                    </form>
                </div>
            </div>

        </div>
     

    </footer>



    <script src="js/swiper-budle.min.js"></script>
    <script src="js/animation.js"></script>

</body>
</html>